<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->

<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>
<h1 class="m-2 p-2">Ooops...Something went wrong</h1>
<!-- image url: https://www.koskila.net/how-to-fix-a-403-18-in-a-virtual-application/-->

<div class="m-2 p-2">
    <h3 class="text-danger fst-italic">Error status: 403</h3>
    <h3 class="text-danger fst-italic">It appears that you do not have access to the page you are trying to reach!</h3>
    <img class="err-img" src="/images/403-error.png">
    <a href="/" class="btn btn-danger text-white border-black text-decoration-none w-25" type="submit" value="Go back">Go back</a>

</div>

<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>