#my-form, #form-btn{
    margin-bottom: 20px;
    margin-top: 20px;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#footer{
    margin-top: auto;
}
.err-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}