<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>

<!-- add room form -->
<!--/*@thymesVar id="roomAddBindingModel" type="com.example.bookhotel.model.binding.RoomAddBindingModel"*/-->
<form th:action="@{/rooms/add}" th:method="post" th:object="${roomAddBindingModel}" class="add-room-form mt-3">
    <div class="form-group">
        <label class="p-2" for="name">Name</label>
        <input th:field="*{name}" th:errorclass="is-invalid" type="text" class="form-control m-2" id="name" placeholder="Name">
        <small id="nameIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Room name must be between 1 and 20 characters long
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="area">Area</label>
        <input th:field="*{area}" type="text" th:errorclass="is-invalid" class="form-control m-2" id="area" placeholder="Area in squared meters">
        <small id="areaIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Area should be a positive number
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="price">Price</label>
        <input th:field="*{price}" type="text" th:errorclass="is-invalid" class="form-control m-2" id="price" placeholder="Price">
        <small id="priceIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Price should be a positive number
        </small>
    </div>
    <div class="form-group">
        <div class="col-auto my-1 p-2">
            <label class="mb-2 pb-2" for="numberOfPeople">Number of people:</label>
            <br>
            <select th:field="*{numberOfPeople}" th:errorclass="is-invalid" class="custom-select mr-sm-2" id="numberOfPeople">
                <option th:value="Choose" selected>Choose the number of people</option>
                <option th:each="n : ${T (com.example.bookhotel.model.entity.enumeration.PeopleCountEnum).values()}"
                        th:value="${n}"
                        th:text="${n.ordinal() + 1}"> </option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="p-2" for="amenities">Amenities:</label>
        <br>
        <input th:field="*{amenities}"
               th:each="a : ${amenitiesView}"
               class="m-3" type="checkbox" name="categories" id="amenities"
               th:value="${a}" th:text="${a}">
        <br>
    </div>

    <div class="d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-light btn-outline-dark">Add room</button>
    </div>
</form>

<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>