<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>

<!-- add room form -->
<!--/*@thymesVar id="categoryAddBindingModel" type="com.example.bookhotel.model.binding.CategoryAddBindingModel"*/-->
<form th:action="@{/categories/add}" th:method="post" th:object="${categoryAddBindingModel}" class="category-add-form">
    <div class="form-group">
        <label class="p-2" for="catName">Name</label>
        <input th:field="*{name}" th:errorclass="is-invalid" type="text" class="form-control m-2" id="catName" placeholder="Name">
        <small id="catNameIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Category name must be between 3 and 20 characters long
        </small>
    </div>

    <div class="d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-light btn-outline-dark">Add category</button>
    </div>
</form>

<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>