<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>

<!--Registration form -->
<!--/*@thymesVar id="userRegisterBindingModel" type="com.example.bookhotel.model.binding.UserRegisterBindingModel"*/-->
<form th:action="@{/users/register}" th:method="post" th:object="${userRegisterBindingModel}" class="register-form mt-3">
    <small th:if="${userExist}" class="bg-danger text-light rounded m-2 p-2">User with such username and/or email already exists</small>
    <div class="form-group">
        <label class="p-2" for="username">Username</label>
        <input th:field="*{username}" th:errorclass="is-invalid" type="text" class="form-control m-2" id="username" placeholder="Username">
        <small id="usernameIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Your username must be between 3 and 20 characters long
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="email">Email address</label>
        <input th:field="*{email}" type="email" th:errorclass="is-invalid" class="form-control m-2" id="email" placeholder="name@example.com">
        <small id="emailIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            You must enter a valid email
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="firstName">First name</label>
        <input th:field="*{firstName}" type="text" th:errorclass="is-invalid" class="form-control m-2" id="firstName" placeholder="First name">
        <small id="firstNameIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Your first name must be between 3 and 20 characters long
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="lastName">Last name</label>
        <input th:field="*{lastName}" type="text" th:errorclass="is-invalid" class="form-control m-2" id="lastName" placeholder="Last name">
        <small id="lastNameIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Your last name must be between 3 and 20 characters long
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="age">Age</label>
        <input th:field="*{age}" type="number" th:errorclass="is-invalid" class="form-control m-2" id="age" placeholder="Age">
        <small id="ageIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
        You must be 18 or older to register
    </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="password">Password</label>
        <input th:field="*{password}" type="password" th:errorclass="is-invalid" class="form-control m-2" id="password" placeholder="Password">
        <small id="passIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Your password must be between 3 and 20 characters long
        </small>
    </div>
    <div class="form-group">
        <label class="p-2" for="confirmPassword">Confirm password</label>
        <input th:field="*{confirmPassword}" type="password" th:errorclass="is-invalid" class="form-control m-2" id="confirmPassword"
               placeholder="Confirm password">
        <small id="confirmPassIncorrect" class="invalid-feedback bg-danger text-light rounded m-2 p-2">
            Your password must be between 3 and 20 characters long
        </small>
    </div>

    <div class="form-group">
        <label class="p-2" for="roles">Select your role/roles:</label>
        <br>
        <input th:unless="${#strings.equalsIgnoreCase(r.name(), 'ADMIN')}" th:field="*{roles}"
               th:each="r : ${T (com.example.bookhotel.model.entity.enumeration.UserRoleEnum).values()}"
               class="m-3" type="checkbox" name="categories" id="roles"
               th:value="${r}" th:text="${r.name().substring(0,1) + r.name().substring(1).toLowerCase()}">
        <br>
    </div>

    <div class="d-flex justify-content-center m-2">
        <button type="submit" class="btn btn-light btn-outline-dark">Register</button>
    </div>
</form>

<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>