<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>

<table class="table m-2" style="width: 40rem;">
    <thead class="thead-dark">
    <tr class="text-center">
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-center" th:each="o : ${operatorsList}" th:object="${o}">
        <td th:text="*{firstName}"></td>
        <td th:text="*{lastName}"></td>
        <td>
            <div sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/operators/remove-role/{id} (id = *{id})}" th:method="patch">
                    <input class="btn btn-danger text-white border-black" type="submit" value="Remove operator role">
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>