<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons::head">
</head>
<body id="page-top">
<!-- Navigation-->
<nav th:replace="fragments/commons::nav" class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
</nav>

<div sec:authorize="hasRole('OPERATOR')" class="upload-pic">
    <!-- upload picture -->
    <h3 class="text-black">
        Add a picture to this room:
    </h3>
    <!--/*@thymesVar id="pictureAddBindingModel" type="com.example.bookhotel.model.binding.PictureAddBindingModel"*/-->
    <form sec:authorize="hasRole('OPERATOR')" id="add-picture-form" class="w-50 rounded text-white"
          th:action="@{/rooms/{id}/addPicture (id = ${room.id})}"
          th:method="patch" enctype="multipart/form-data"
          th:object="${pictureAddBindingModel}">


        <div class="form-group mt-2 mb-2">
            <!--<label for="picture" class="col-form-label rounded-2 p-2 mb-2 bg-danger">Choose picture</label>-->
            <input type="file" th:field="*{picture}"
                   id="picture"
                   class="form-control-file"
                   aria-describedby="inputPictureError">
        </div>
        <div class="d-flex justify-content-center m-2">
            <button type="submit" class="btn btn-light btn-outline-dark">Upload picture</button>
        </div>
    </form>
</div>

<!--pictures-->
<div class="pic-container">
    <div th:each="o : ${room.pictureUrls}" class="col-md-4 mt-2 gx-0 mb-5 mb-lg-0 justify-content-center">
        <img class="img-fluid pic-in-room" th:src="${o}" alt="room pic">
    </div>
</div>
<!-- Footer-->
<footer th:replace="fragments/commons::footer" class="footer bg-black small text-center text-white-50"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>